* {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
}

@font-face {
    font-family: 'Conthrax';
    src: url(font/Conthrax-Font/Conthrax\ Regular.otf);
}

@font-face {
    font-family: 'Bastaman';
    src: url(font/BastamanBold\ 700.ttf);
}

body, html {
    overflow-x: hidden;
}

.font-conth {
    font-family: 'Conthrax';
}

.font-basta {
    font-family: 'Bastaman';
}

.background {
    background: #00112B;
    min-height: 100vh;
}

.background01 {
    background-image: url('./images/background-01\ 1.png');
    min-height: 100vh;
}

.img-area {
    border: 2px solid #38D2FF;
    background: linear-gradient(180deg, rgba(0, 18, 52, 0) 0%, #001234 94.58%);
    width: fit-content;
    margin: auto;
}

.img-area:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: black;
    -webkit-mask-image: -webkit-gradient(linear, center top, center bottom, color-stop(0.00, rgba(0, 0, 0, 0)), color-stop(1.00, rgba(0, 0, 0, 1)));
}



.card-body {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 1rem;
    max-width: 85%;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

.card-title {
    bottom: 30%;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Conthrax';
    margin-bottom: 14px;
}

.card-content {
    bottom: 15%;
    font-size: 10px;
    width: 100%;
    padding: 0 25px;
}

.card-button {
    bottom: 5%;
    background: linear-gradient(94.48deg, #004DA7 0%, #60AAFF 100%);
    border-radius: 4px;
    font-family: 'Conthrax';
    width: 100px;
    margin: auto;
    font-size: 10px;
    padding: 6px 5px;
}

.custom-text {
    font-size: 10px;
    font-weight: 400;
    line-height: 10px;
}

.background-blue {
    background: rgba(0, 59, 129, 0.5);
    border-radius: 10px;
    width: auto;
    height: 100%;
}

.custom-text-atm {
    color: #BABABA;
    font-size: 14px;
    margin: 0;
}

.menu-all a.active {
    /* background: url(./images/bg-active1.png); */
    /* transform: translateX(40px); */
    margin-left: -15px;
    margin-bottom: -12px;
    /* transform: translateY(1000px) !important; */
    display: inline-block;
}

.balance>div {
    width: 31.333%;
}

.text-BA {
    color: #BABABA;
    font-weight: 400;
}

.token, .wallet {
    background: url(./images/bg-head.png);
    background-repeat: no-repeat;
    background-size: 83% 48%;
    background-position: 100% 46%;
    padding-right: 10px;
}

.wallet {
    background-size: 75% 48%;
    background-position: 100% 45%;
}

video {
    width: 100%;
    max-height: 400px;
}

.title, .total {
    margin-top: 5px;
}

.background-white {
    width: 195px;
    height: 236px;
    background-color: #fff;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    margin: 0 4%;
}

.background-blue45 {
    width: 179px;
    height: 182px;
    background: linear-gradient(224.61deg, #38D2FF 7.52%, #4561FF 98.1%);
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    align-items: center;
    margin-left: 8px;
}

.text-box {
    text-shadow: 0px 2px 0px #0046D0;
    margin: 0;
    font-size: 12px;
}

.absolute-box {
    bottom: 7%;
}

.button-buy {
    background: linear-gradient(48.48deg, #FFD02A 2.23%, #FFE73F 97.77%);
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #EE8829;
    font-size: 20px;
    font-weight: 700;
}

.background-white-yourbag {
    width: 177px;
    height: 215px;
    background-color: #fff;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
}

.background-blue45-yourbag {
    width: 163px;
    height: 133px;
    background: linear-gradient(224.61deg, #38D2FF 7.52%, #4561FF 98.1%);
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 8%;
    border-bottom-right-radius: 8%;
    align-items: center;
    margin-left: 8px;
}

.button-sale {
    background: linear-gradient(48.48deg, #33C200 2.23%, #9FFF3F 97.77%);
    border: 0.45614px solid rgba(255, 255, 255, 0.5);
    border-radius: 2.73684px;
    color: #298C00;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.button-sale-off {
    background: linear-gradient(48.48deg, #C6C6C6 2.23%, #E8E8E8 97.77%);
    border: 0.45614px solid rgba(255, 255, 255, 0.5);
    border-radius: 2.73684px;
    text-align: center;
    color: #9D9D9D;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
}

.text-yourbag {
    font-family: 'Conthrax';
    font-size: 10px;
    color: #BABABA;
    margin: 0;
}

.number-yourbag {
    font-family: 'Conthrax';
    font-size: 10px;
    color: #000000;
    margin: 0;
}

.title-fish {
    background: rgba(0, 59, 129, 0.5);
    border: 2px solid #6AC9FF;
    border-radius: 6px 0px 0px 6px;
    width: 148px;
    height: 40px;
    text-align: center;

}

.button-off {
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}

.title-shooter {
    background: rgba(0, 59, 129, 0.5);
    border: 2px solid #6AC9FF;
    border-radius: 0px 6px 6px 0px;
    width: 148px;
    height: 40px;
    text-align: center;
}

.button-on {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.wallet-nft {
    background: rgba(0, 59, 129, 0.4);
    border: 1px solid #0062D6;
    border-radius: 4px;
    text-align: center;
}

.id-wallet {
    font-size: 9px;
    font-weight: 600;
    margin: 0;
    padding: 8px 20px;
}

.shop-style .menu-all {
    margin-bottom: 3rem
}

.mobile-nav-toggle{
    display: none;
}

.primary-navigation{
    display: none;
}


@media only screen and (max-width: 1400px) {


    .menu-all a.active {
        transform: translateY(-4px) translateX(8px);
        margin-left: 0;
        margin-bottom: 9px;
        /* transform: translateY(1000px) !important; */
    }

    .menu-all {
        flex-direction: row !important;
        justify-content: center;
        align-items: baseline;
        margin: 0 -13px;
    }

    .balance {
        overflow-x: scroll;
    }

    .balance>div {
        width: 100%;
        margin-bottom: 1rem;
        /* margin-left: 0 !important; */
        min-width: 300px;
        margin-left: auto !important;
        margin-right: 26px !important;
    }

    .balance>div:last-child {
        margin-right: 0 !important;
    }

    .menu-all>div {
        margin: 0 10px;
    }

}

@media only screen and (max-width: 992px) {
    .head-balance {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: -3rem;
    }

    .menu-all {
        overflow-x: scroll;
    }

    .menu-all {
        justify-content: flex-start;
    }

    .menu-all a.active {
        transform: translateY(0px) translateX(0);
        margin-left: 0;
        margin-bottom: 0;
    }

    .menu-all>div {
        width: 100%;
        min-width: 150px;
    }

    .menu-all .shop {
        margin-left: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .head-balance .right {
        flex-direction: column;
        margin-left: -2rem;
    }

    .wallet {
        margin-left: 0 !important;
        margin-top: -2.5rem;
    }

    .menu-all{
        display: none!important;
    }

    .primary-navigation{
        display: block;
        position: fixed;
        inset: 0 0 0 30%;
        --gap: 2em;
        flex-direction: column!important;
        padding: min(30vh, 10rem) 2em;
        width: 100%;
        height: 100vh;
        background: hsl(0 0% 100% / 0.1);
        backdrop-filter: blur(1rem);
        margin: 0!important;
        z-index: 99;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        background-color: transparent;
        background-image: url("images/menuwhite.png");
        background-repeat: no-repeat;
        border: none;
        width: 4rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 999;
        margin-right: -1.5rem;
    }

    .menu-all .shop {
        margin: 0;
    }

    .box{
        margin-top: 3rem;
    }

    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url("images/close.png");
    }

    .mobile-text-nav{
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
        list-style: none;
    }

    /* 
    .wallet h5 {
        font-size: 1rem;
    }

    .wallet img {
        max-width: 75px;
    } */
}

@media only screen and (max-width: 640px) {
    .balance>div {
        min-width: 255px;
    }

    .head-balance {
        margin-bottom: -4rem;
    }
}